.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-mid{
    width: 100%;
    height: 70vh;
    position: relative;

}
.hero-text h1{
    padding-top: 4rem !important;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 23%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.hero-mid h1{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.hero-mid h2{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.hero-text h1{
    font-size: 2.5rem;
    font-weight: 800;
    background: rgb(230, 90, 14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-mid h1{
    font-size: 2.5rem;
    font-weight: 800;
    background: rgb(69, 99, 103);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero-mid h2{
    font-size: 2.5rem;
    font-weight: 800;
    background: rgb(63, 64, 64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.hero-text p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 0 2rem 0;
}
.hero-text .show{
    text-decoration: none;
    background: #83b0c0;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;   
}
.hero-text .hide{
    display: none;
}
/* For screens up to 767px (typical mobile phones) */
@media screen and (max-width:973px) {
    .hero-text h1 {
      font-size: 1.8rem; /* Decreased font size for better readability */
      padding: 10px 20px;
    }
    .hero-text p {
      font-size: 1rem; /* Smaller font size for better readability */
      padding: 0 0 1rem 0; /* Reduced padding for compact layout */
    }
    .hero-text.show {
      padding: 0.4rem 0.8rem; /* Adjusted padding for smaller screens */
      border-radius: 6px;
      font-size: 0.9rem; /* Slightly smaller font size */
    }
    @media screen and (max-width: 698px) {
  .hero-text h1 {
    font-size: 1.8rem;
    padding: 10px 20px;
  }
  .hero-text p {
    font-size: 1rem;
    padding: 0 0 1rem 0;
  }
  .hero-text.show {
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 0.9rem;
  }
  }
  @media screen and (max-width: 695px) {
    .hero-text h1 {
      font-size: 1rem;
      padding: 5px 10px;
    }
    .hero-text p {
      font-size: 0.5rem;
      padding: 0 0 0.5rem 0;
    }
    .hero-text.show {
      padding: 0.2rem 0.4rem;
      border-radius: 3px;
      font-size: 0.4rem;
    }
}
}